<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
</head>
<body>
<center>
    <h1>Book Appointment</h1>
    <form action="/book_appointment" method="post">
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" name="mobile" required><br>

        <input type="submit" value="Book Appointment">
    </form>
    <a href="http://127.0.0.1:5000">Home</a>
    </center>
</body>
</html>
